:root {
    --colorP: rgb(218, 7, 7);
    --colorS: rgb(0, 255, 179);
    --colorT: rgb(14, 217, 224); 
    --colorC: rgb(150, 7, 7);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    background-color: red;
    margin-top: 130px;
    height: 100vh;
    color: white;
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1rem;
}
h2{
    font-size: 6rem; 
}
h3{
    font-size: 5rem; 
}
h4{
    font-size: 3rem; 
}
h4 a{
    color: var(--colorT);
}
h4 a:hover{
    color: var(--colorS);
    text-decoration: none;
}
#superhMainLogo{
    width: 70vw;
    transition-property: transform;
    transition-duration: 0.7s;
}
#superhMainLogo:hover{
    transform: scale(1.2);
}

span{
    font-size: 2.5rem;
}

input, textarea {
    margin-left: 10px;
    margin-top: 20px;
    border: 3px solid var(--colorS);
    border-radius: 4px;
    width: 230px;
    height: 30px;
    font-size: 2.3rem;
  }

textarea{
margin-bottom: -30px;
resize: none;
height: 50px;
}
header{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 4;
    
}
::placeholder{
    font-size: 1.6rem;
    opacity: 0.8;
}
#headerH{
    background-color: var(--colorP);
}
#sendHero{
    width: 150px;
    height: 50px;
    font-size: 2rem;
    background-color: black;
    color: var(--colorS);
    border-radius: 4px;
    border: 3px solid var(--colorT);
}
#sendHero:hover{
    background-color: var(--colorT);
    color: white;
}
#nav-logo img{
    width: 20rem;
    transition-property: transform;
    transition-duration: 0.7s;
}
#nav-logo img:hover{
    transform: scale(1.2);
   
}

nav a{
    font-size: 2rem;
}
th{
    font-size:2.5rem;
    letter-spacing: 0.2rem;;
}
td{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

#hero_image{
    max-height: 250px;
}
@media
only screen and (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { 
      border: 2px solid rgb(77, 77, 77); 
      margin-bottom: 10px;
}
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 200px;
    margin-left: 150px;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 180px;
    padding-right: 50px;
    white-space: nowrap;
    margin-left: -150px;
   
  }
  .btSize{
      font-size: 2rem;
     
  }
  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "Alias"; }
  td:nth-of-type(3):before { content: "Superpower"; }
  td:nth-of-type(4):before { content: "Team";}
  td:nth-of-type(5):before { content: "Options";}
}

#heroModalD, #heroModalB,#heroModalCo, #heroModalF,#heroModalH,#modifModalH,#modifModalB,#modifModalF, #modifModalCo{
  background-color: rgba(105, 0, 9, 0.986) !important;
}
#hero-img{
    width: 100% ;
   
    margin-left: 11vw ;
    display: block;
    object-fit: contain

}
#heroModalB,#modifModalB{
    margin-right: 4vw;
}
#text-team, #text-superpower{
    font-size: 2.5rem;
}
.tags{
    -webkit-text-stroke: 0.5px black;
    font-size: 3rem;
}
#modifModalB,#modif_title{
    font-size: 2.5rem;
    padding:2vw
}
#nameModif,#superpowerModif,#teamModif,#imageModif{
    font-size: 1.8rem;
    opacity: 0.8;
    
}
#modifBtn{
    font-size: 2rem;
}